* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  

  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
    width : 100vh;
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
      .column {
        width: 100%;
      }
    }
  
  #kolom_gambar {
    background-image: url('dika.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #kolom_gambar2 {
    background-image: url('bali 1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  #kolom_gambar3 {
    background-image: url('view.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #kolom_gambar4 {
    background-image: url('beach.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  #judul {
    position: absolute;
    width: 604px;
    height: 159px;
    left: 45px;
    top: 490px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    
    color: #FFFFFF;
  }

  #judulbio {
    position: absolute;
    width: 197px;
    height: 81px;
    left: 986px;
    top: 68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
  }
  
  #home1 {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 35px;
    top: 45px;
    
    background: #FC7901;
    border: 15px solid #FC7901;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
  }  
  #home {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 35px;
    top: 45px;
  }

  #bio {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 191px;
    top: 135px;
 
  }

  #bio1 {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 191px;
    top: 135px;
    
    background: #FC7901;
    border: 3px solid #FC7901;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px; 
  } 
  
  #socmed {
      position: absolute;
      width: 173px;
      height: 49px;
      left: 344px;
      top: 229px;
  }

  #socmed1 {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 344px;
    top: 229px;
  
    background: #FC7901;
    border: 3px solid #FC7901;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
  }

  #studies {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 499px;
    top: 327px;

    /* padding: 10px 0px; */
  }

  #studies1 {
    position: absolute;
    width: 173px;
    height: 49px;
    left: 499px;
    top: 327px;

    background: #FC7901;
    border: 3px solid #FC7901;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
  }
  

  #line1 {
    position: absolute;
    width: 501px;
    height: 0px;
    left: 62px;
    top: 466px;
    
    border: 7px solid #DA5003;
  }
  
  #line2 {
    position: absolute;
    width: 444px;
    height: 0px;
    left: 205px;
    top: 560px;
    
    border: 7px solid #DA5003;
  }

  #linebio {
    position: absolute;
    width: 168px;
    height: 0px;
    left: 964px;
    top: 70px;

    border: 4px solid #DA5003;
  }

  #linebio2 {
    position: absolute;
    width: 168px;
    height: 0px;
    left: 1035px;
    top: 160px;

    border: 4px solid #DA5003;
  }

  .center1 {
    position: absolute;
    width: 555px;
    height: 753px;
    left: 807px;
    top: 135px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #FFFFFF;
  }

  .center2 {
    position: absolute;
    width: 370px;
    height: 149px;
    left: 300px;
    top: 365px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    
    color: #FFFFFF;
  }

  .center1 {
    position: absolute;
    width: 555px;
    height: 753px;
    left: 807px;
    top: 180px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #FFFFFF;
  }
  
  #insta {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 530px;

    border-radius: 20%;
  }

  #line {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 585px;

    border-radius: 20%;
  }

  #wa {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25px;
    top: 640px;

    border-radius: 20%;
  }

  #instad {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 95px;
    top: 515px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
  }

  #lined {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 95px;
    top: 570px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
  }

  #wad {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 95px;
    top: 625px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
  }

  a:link, a:visited {
    background-color: #FFFFFF;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #FC7901;
    border-radius: 10px;
  }
  
  a:hover, a:active {
    background-color: #FC7901;
    color: #ffffff
  }

